{% extends "base.html" %}
{% block body %}
<style>
    h1 { font-size: 50px; text-align: center; padding:10px; }
    span[frown] { transform: rotate(90deg); display:inline-block; color: #bbb; }
    article {display:block; text-align: left; width: 500px; margin: 10px auto; }
</style>
<article>

<h1>Oops! Request forbidden...<span frown>:(</span></h1>
<div>
    <p>
        Sorry, it appears the page you were looking for is forbidden and not accessible. The site administrator has been notified.
    </p>
</div>

<script>
    var GOOG_FIXURL_LANG = (navigator.language || '').slice(0,2),
    GOOG_FIXURL_SITE = location.host;
</script>
<script src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
</article>
{% endblock %}
