{% extends "base.html" %}
{% block title %}{{gettext('About')}}{% endblock %}
{% block body %}
<article>
<div id="content">
	<img class="right" id="avatar" src="{{request.static_url('lxneng:static/images/avatar-238x240.jpg')}}" alt="Eric Lo">
	{{ tools.markdown_content(resume) | safe }}
</div>
<h3>{% trans %}Find Me On The Web{% endtrans %}:</h3>
<ul id="links">
    <li>
    <a href="http://weibo.com/lxneng" target="_blank"><img src="{{request.static_url('lxneng:static/images/icons/weibo.ico')}}" height="16" width="16" border="0" alt="weibo.com"></a>
    </li>
    <li>
    <a href="http://twitter.com/#!/lxneng" target="_blank"><img src="{{request.static_url('lxneng:static/images/icons/twitter.ico')}}" height="16" width="16" border="0" alt="twitter.com"></a>
    </li>
    <li>
    <a href="http://www.facebook.com/lxneng" target="_blank"><img src="{{request.static_url('lxneng:static/images/icons/facebook.ico')}}" height="16" width="16" border="0" alt="facebook.com"></a>
    </li>
    <li>
    <a href="http://www.flickr.com/photos/lxneng" target="_blank"><img src="{{request.static_url('lxneng:static/images/icons/flickr.ico')}}" height="16" width="16" border="0" alt="flickr.com"></a>
    </li>
    <li>
    <a href="http://www.linkedin.com/in/lxneng" target="_blank"><img src="{{request.static_url('lxneng:static/images/icons/linkedin.ico')}}" height="16" width="16" border="0" alt="linkedin.com"></a>
    </li>
    <li>
    <a href="http://delicious.com/lxneng" target="_blank"><img src="{{request.static_url('lxneng:static/images/icons/delicious.ico')}}" height="16" width="16" border="0" alt="delicious.com"></a>
    </li>
    <li>
    <a href="http://github.com/lxneng" target="_blank"><img src="{{request.static_url('lxneng:static/images/icons/github.ico')}}" height="16" width="16" border="0" alt="github.com"></a>
    </li>
    <li>
    <a href="http://www.douban.com/people/lxneng/" target="_blank"><img src="{{request.static_url('lxneng:static/images/icons/douban.ico')}}" height="16" width="16" border="0" alt="douban.com"></a>
    </li>
    <li>
    <a href="http://t.qq.com/luoxiaoneng" target="_blank"><img src="{{request.static_url('lxneng:static/images/icons/tqq.ico')}}" height="16" width="16" border="0" alt="http://t.qq.com"></a>
    </li>
</ul>
</article>
{% endblock %}
