{% extends "base.html" %}
{% block title %}{{gettext('Bio')}}{% endblock %}
{% block body %}
<h2>{{gettext('Bio')}}</h2>
<div id="avatar">
    <img src="{{request.static_url('lxneng:static/images/avatar-160x161.jpg')}}" alt="Eric Lo">
</div>
{% if request.locale_name=='en' %}
<h3>Eric Lo</h3>
<table>
    <tr>
        <th>Gmail/Gtalk:</th>
        <td><a href="mailto:lxneng@gmail.com">lxneng@gmail.com</a></td>
    </tr>
    <tr>
        <th>HomePage:</th>
        <td><a href="http://lxneng.com/">lxneng.com</a></td>
    </tr>
    <tr>
        <th>Professional Bio:</th>
        <td>Python Developer at 2Style4You.com</td>
    </tr>
    <tr>
        <th>QQ:</th>
        <td>6890839</td>
    </tr>
    <tr>
        <th>Location:</th>
        <td>Shanghai</td>
    </tr>
</table>
{% endif %}
{% if request.locale_name=='zh_CN' %}
<h3>罗小能</h3>
<table>
    <tr>
        <th>Gmail/Gtalk:</th>
        <td><a href="mailto:lxneng@gmail.com">lxneng@gmail.com</a></td>
    </tr>
    <tr>
        <th>主页:</th>
        <td><a href="http://lxneng.com/">lxneng.com</a></td>
    </tr>
    <tr>
        <th>工作:</th>
        <td>Python开发者，就职2Style4you.com.</td>
    </tr>
    <tr>
        <th>QQ:</th>
        <td>6890839</td>
    </tr>
    <tr>
        <th>常居:</th>
        <td>上海</td>
    </tr>
</table>
{% endif %}
<div class="clear"></div>
{% endblock %}
