<!DOCTYPE html> 
<html lang="en">
    <head> 
        <meta charset="utf-8">
        <meta name="description" content="Eric Lo's page"> 
        <meta name="author" content="Eric Lo">
        <meta name="viewport" content="width=720, maximum-scale=1.0" />
        <link rel="apple-touch-icon" href="{{request.static_url('lxneng:static/images/icons/apple-touch-icon_72x72.png')}}" />
        <title>{% block title %}{{gettext('Home')}}{% endblock %} — {% trans %}Hi, I'm Eric Lo.{% endtrans %}</title> 
        <link rel="stylesheet" href="{{request.static_url('lxneng:static/css/style.css')}}">
	<link href="{{request.route_url('posts_rss')}}" rel="alternate" title="Recent Posts" type="application/atom+xml">
    </head> 
    <body>
        <header>
        <span id="site_name">{% trans %}Hi, I'm Eric Lo.{% endtrans %}</span>
        <span id="language">{% if request.locale_name=='en' %}<a href="?lang=zh_CN">中文</a>{% endif %}{% if request.locale_name=='zh_CN' %}<a href="?lang=en">English</a>{% endif %}</span>
        <ul id="nav">
            <li><a href="{{request.application_url}}" class="{{'active' if request.path=='/' else ''}}" title="Home" id="Home">{{gettext('Home')}}</a></li>
            <li><a href="{{request.route_url('posts_index')}}"
                class="{{'active' if request.path.startswith('/posts') else ''}}" title="Blog" id="Blog">{{gettext('Blog')}}</a>
                <div class="submenu">
                    <ul>
                        <li><a href="{{request.route_url('posts_tags_index')}}">{{gettext('Tags')}}</a></li>
                        <li><a href="{{request.route_url('posts_rss')}}">RSS</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="{{request.route_url('photos')}}"
                class="{{'active' if
                request.path.startswith('/photos') else ''}}" title="Photo" id="Photo">{{gettext('Photo')}}</a></li>
            <li><a href="{{request.route_url('about')}}" class="{{'active' if request.path=='/about' else ''}}" title="About" id="About">{{gettext('About')}}</a></li>
        </ul>
        </header>
        <div id="main">
            {%- if request.session.peek_flash() -%}
            <div id="flash">
                {% set flash = request.session.pop_flash() %}
                {% for message in flash %}
                {{message}}<br>
                {% endfor %}
            </div>
            {% endif %}
            {% block body %}{% endblock %}
            <footer>
            {% block footer %}{% endblock %}
            <article>
            <p>© <a title="lxneng.com" href="http://lxneng.com">lxneng.com</a>
            2012. All rights reserved. Powered by <a
                href="http://www.pylonsproject.org/" title="The Pyramid Web Application Development Framework">Pyramid</a><p>
            </article>
            </footer>
        </div>
        <div id="goTop">
            <a href="javascript:void(0);" title="返回顶部" onclick="window.scroll(0,0);">
                <img src="{{request.static_url('lxneng:static/images/icons/gotoTop.png')}}" height="24" width="24" border="0" alt="go to Top">
            </a>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
        <script src="{{request.static_url('lxneng:static/js/main.js')}}" type="text/javascript"></script>
        <script>window.jQuery || document.write('<script src="{{request.static_url('lxneng:static/js/jquery-1.6.4.min.js')}}"><\/script>')
            </script>
            <script>
                var _gaq=[['_setAccount','UA-15032003-1'],['_trackPageview'],['_trackPageLoadTime']];
                (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
                    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
                    s.parentNode.insertBefore(g,s)}(document,'script'));
            </script>
            {% block javascript %}{% endblock %}
        </body>
    </html>
