{% extends "base.html" %}
{% block title %}{{ gettext('Search') }}{% endblock %}
{% block javascript_top %}
<script>
  (function() {
    var cx = '005539616397082449646:WMX-1077079314';
    var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
  })();
</script>
{% endblock %}
{% block body %}
<gcse:search></gcse:search>
{% endblock %}