body {
    background-color: #f6f6f6;
    color: #555;
    font-family: 'IM Fell DW Pica', arial, serif;
    text-shadow: 4px 4px 4px #aaa;
}
div.container {
	width: 960px;
	margin:0 auto;
}

h1, h2, h3, .h1{
    color: #333;
}

h1, .h1{
    margin-top: 3%;
    font-size: 300%;
}
#header{font-size: 150%;}
h2 {
    margin-top: 1.5em;
}

a:link, a:visited {
    color: #000;
    text-decoration: none;
    -webkit-transition: color 0.2s linear;
}

a:hover {
    color: #999;
}

ul {
    /* list-style: square; */
    list-style: none;
}

ul li {
    margin-bottom: 0.3em;
    font-size: 110%;
}
#left {
    float: left;
	width: 450px;
}
#right {
	float: right;
	width: 500px;
}
