{% extends "base.html" %}
{% block title %}{{context.name}}{% endblock %}
{% block body %}
<article>
<h1>{{context.name}}</h1>
{% set posts_pager = tools.paginate(context.posts) %}
<ul>
    {%- for post in posts_pager.items %}
    <li><a href="{{ request.route_url('posts_show', id=post.id) }}">{{ post.title }}</a>
    {% if request.user %}
    <a href="{{ request.route_url('posts_edit', id=post.id) }}">Edit</a>
    <form class="posts_delete" method="POST" action="{{request.route_url('posts_delete',
        id=post.id)}}">
        <input type="hidden" name="_method" value="DELETE" />
        <input type="submit" value="DELETE" />
    </form>
    {% endif %}
    </li>
    {%- endfor %}
</ul>

<div class="pagination">
    {% if posts_pager.previous_page %}
    <a class="fleft" href="{{request.current_route_url(_query={'page':
        posts_pager.previous_page})}}">« Previous</a>
    {% endif %}

    {% if posts_pager.next_page %}
    <a class="fright" href="{{request.current_route_url(_query={'page': posts_pager.next_page})}}">Next »</a>
    {% endif %}
</div>

</article>
{% endblock %}
