html {
    background: #333;
    color: #333;
    font-family: 'Palatino', serif;
    font-size: 18px;
    line-height: 24px;
}

body,ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
ul {list-style: none;}
h1 {line-height: 120%;}
#main {
    -webkit-box-shadow: 0 0 30px #000;
    background: #fff;
    margin: 45px auto 40px auto;
    padding: 30px 30px 5px;
    text-align: left;
    max-width: 700px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

div#main > footer {
    margin-top:40px;
    border-top:1px solid #006400;
    font-size:16px;
    margin-left:23px;
}

a {
    color: #006400;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    width:100%;
    height:30px;
    text-align:center;
    line-height:30px;
    overflow:hidden;
    top:0;
    font-size:14px; 
    position: fixed;
    background-color:rgba(0,0,0,.8);
    z-index:2;    
}

ul#nav {
    display: block;
    height: 30px;
    width: 30%;
    float: left;
    border: 0;
    padding: 0;
}

ul#nav li { display: inline; }

ul#nav li a, #language a {
    display: block;
    float: left;
    height: 28px;
    margin: 0;
    background: no-repeat 9px 5px;
    padding: 5px 15px 0px 15px;
    border-right: none;
    color: #D5DFE2;
    font-size: 12px;
    line-height: 22px;
    text-align: left;
    text-decoration: none;
    font-weight: normal;
    cursor: pointer;
}

ul#nav img {
    position: relative;
    top: 4px;
    left: -3px;
}

ul#nav li a:hover, .localeSwitch a:hover {
    background-color: #96090A;
    color: #fff;
    height: 28px;
    text-decoration: underline;
}

ul#nav li a.active, ul#nav li a.active:hover {
    height: 28px;
    color: #fff;
    background: #006400;
    cursor: default;
    font-weight: bold;
}
ul#nav li a.active:after { content: "\00A0\00BB" attr(cite); }
#posts {padding-left:23px;}
#language {float:right; padding-right:20px;}
#site_name {float:left; padding: 0 20% 0 20%; font-size: 16px; font-style:italic; color:#3D515C; font-weight:bold;}

ul.slideshow img {display:block; padding: 0 23px;background:url('shadow.jpg') no-repeat top left;}
ul.slideshow {
    width:686px;
    height:420px;
    overflow:hidden;
    position:relative;
    margin:0;
    padding:0;
}   
ul.slideshow li {
    position:absolute;
    left:0;
    right:0;
}

ul.slideshow li.showit {
    z-index:1;    
}
footer h4 {margin: 5px 0;}
ul#links{height:20px;}
ul#links li{float:left; width: 30px;}
