html {
    background: #333;
    color: #333;
    font-family: 'Palatino', serif;
    font-size: 18px;
    line-height: 24px;
}

body,ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
button, input {
    font-size: 16px;
    padding: 3px;
    margin-left: 5px;
}
ul {list-style: none;}
h1 {
    border-bottom: 1px dashed #DDD;
    line-height: 120%;
}
h2 {
    border-bottom: 1px dashed #DDD;
    padding-bottom: 10px;
}
#main {
    -webkit-box-shadow: 0 0 30px #000;
    -moz-box-shadow: 0 0 30px #000;
    box-shadow: 0 0 30px #000;
    background: #F2F2F2 url('../images/noise.png') top left;
    margin: 45px auto 40px auto;
    padding: 30px 30px 5px;
    text-align: left;
    max-width: 648px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

div#main > footer {
    margin-top:40px;
    border-top:1px solid #006400;
    font-size:16px;
}

a {
    color: #006400;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    width:100%;
    height:30px;
    text-align:center;
    line-height:30px;
    overflow:hidden;
    top:0;
    font-size:14px; 
    position: fixed;
    -moz-box-shadow:0 1px 3px rgba(0,0,0,0.25),0 -1px 0 rgba(0,0,0,0.1) inset;
    -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.25),0 -1px 0 rgba(0,0,0,0.1) inset;
    box-shadow:0 1px 3px rgba(0,0,0,0.25),0 -1px 0 rgba(0,0,0,0.1) inset;
    background-color:rgba(0,0,0,.8);
    z-index:999;    
}

ul#nav {
    display: block;
    height: 30px;
    width: 30%;
    float: left;
    border: 0;
    padding: 0;
}

ul#nav li { display: inline; }

ul#nav li a, #language a {
    display: block;
    float: left;
    height: 28px;
    margin: 0;
    background: no-repeat 9px 5px;
    padding: 5px 15px 0px 15px;
    border-right: none;
    color: #D5DFE2;
    font-size: 12px;
    line-height: 22px;
    text-align: left;
    text-decoration: none;
    font-weight: normal;
    cursor: pointer;
}

ul#nav img {
    position: relative;
    top: 4px;
    left: -3px;
}

ul#nav li a:hover, .localeSwitch a:hover {
    background-color: #96090A;
    color: #fff;
    height: 28px;
    text-decoration: underline;
}

ul#nav li a.active, ul#nav li a.active:hover {
    height: 28px;
    color: #fff;
    background: #006400;
    cursor: default;
    font-weight: bold;
}
ul#nav li a.active:after { content: "\00A0\00BB" attr(cite); }
#posts {}
#language {float:right; padding-right:20px;}
#site_name {float:left; padding: 0 20% 0 20%; font-size: 16px; font-style:italic; color:#3D515C; font-weight:bold;}

ul.slideshow img {display:block;}
ul.slideshow {
    width:640px;
    height:420px;
    overflow:hidden;
    position:relative;
    margin:0;
    border-radius: 3px 5px 5px 5px;
    border: .5em solid white;
}   
ul.slideshow li {
    position:absolute;
    left:0;
    right:0;
}

ul.slideshow li.showit {
    z-index:1;    
}
footer h4 {margin: 5px 0;}
ul#links{height:20px;}
ul#links li{float:left; width: 30px;}
.box_shadow {
    -moz-box-shadow: 2px 3px 3px #999;
    -webkit-box-shadow: 2px 3px 4px #999;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999')";
    box-shadow: 2px 3px 3px #999;
}
.clear{ clear:both; height:0px; overflow:hidden; }
#avatar { 
    display: block;
    background: #f4f4f4;
    border: 2px solid #cecdcd;
    border-radius: 3px 5px 5px 5px;
    float: right;
    padding: 10px;
}
#flash {
    margin: 0 auto 15px;
    font-size: 16px;
    text-align: center;
    background-color: #e1ecfe;
}
.photo {
    display: inline-block;
    margin: 0 auto 20px;
}
.photo img {
    display: block;
    box-sizing: border-box;
    border: white 0.5em solid;
}
.photo .caption{
    background: white;
    text-align: center;
    font-size: .8em;
    color: #666;
    display: block;
}
#goTop {
    position: fixed;
    display: none; 
    bottom: 30px;
    right: 30px;
}
.posts_delete {
    display: inline;
}
