body {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
    font-size: 15px;
    line-height: 22px;
    background: #333;
    color: #252519;
    margin: 0;
    padding: 0;
}
a {
    color: #006400;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
p {
    line-height: 1.7em;
}
h1, h2, h3, h4, h5, h6 {
    margin: 15px 0 5px 0;
}
h1 {
    line-height: 30px;
    padding: 10px 0 8px 0;
    border-bottom: 1px dashed #DDD;
}
span[frown] { transform: rotate(90deg); display:inline-block; color: #bbb; }
ul, li {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
button, input {
    font-size: 16px;
    padding: 3px;
    margin-left: 5px;
}
ul {list-style: none;}
table {border-spacing: 0px;}
.fleft {float: left;}
.fright {float: right;}
#main {
    -webkit-box-shadow: 0 0 30px #000;
    -moz-box-shadow: 0 0 30px #000;
    box-shadow: 0 0 30px #000;
    background: #F2F2F2 url('../images/noise.png') top left;
    margin: 45px auto 40px auto;
    padding: 30px 30px 5px;
    text-align: left;
    max-width: 658px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

div#main > footer {
    margin-top:40px;
    border-top:1px solid #006400;
    font-size:16px;
}
header {
    width:100%;
    height:30px;
    text-align:center;
    line-height:30px;
    top:0;
    font-size:14px; 
    position: fixed;
    -moz-box-shadow:0 1px 3px rgba(0,0,0,0.25),0 -1px 0 rgba(0,0,0,0.1) inset;
    -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.25),0 -1px 0 rgba(0,0,0,0.1) inset;
    box-shadow:0 1px 3px rgba(0,0,0,0.25),0 -1px 0 rgba(0,0,0,0.1) inset;
    background-color:rgba(0,0,0,.8);
    z-index:999;    
}

ul#nav {
    display: block;
    height: 30px;
    width: 40%;
    float: right;
    border: 0;
    padding: 0;
}
ul#nav li{
    float:left;
}
ul#nav li a, #language a {
    height: 25px;
    display: block;
    margin: 0;
    background: no-repeat 9px 5px;
    padding: 5px 15px 0px 15px;
    border-right: none;
    color: #D5DFE2;
    font-size: 12px;
    line-height: 22px;
    text-align: left;
    text-decoration: none;
    font-weight: normal;
    cursor: pointer;
}
ul#nav li a:hover, #language a:hover {
    background-color: #96090A;
    color: #fff;
    text-decoration: underline;
}
ul#nav li a.active, ul#nav li a.active:hover {
    color: #fff;
    background: #006400;
    cursor: default;
    font-weight: bold;
}
ul#nav li a.active:after { content: "\00A0\00BB" attr(cite); }
ul#nav li .submenu {
    display: none;
    background-color: rgba(0,0,0,.8);
    position: absolute;
    z-index: 999;
    margin: 0px;
    width: 120px;
}
ul#nav li .submenu ul {
    float: left;
    margin: 0px;
    padding: 0px;
    text-align: left;
    position: relative;
}
ul#nav li .submenu li a {
    color: #D5DFE2;
    background-color: none;
    width: 120px;
}
ul#nav li .submenu li a:hover {
    background:none;
}
#language {float:right; padding-right:20px;}
#site_name {float:left; padding-left: 10%; font-size: 16px; font-style:italic; color:#3D515C; font-weight:bold;}
ul.slideshow img {display:block;}
ul.slideshow {
    width:640px;
    height:420px;
    overflow:hidden;
    position:relative;
    margin:0;
    border-radius: 3px 5px 5px 5px;
    border: .5em solid white;
}   
ul.slideshow li {
    position:absolute;
    left:0;
    right:0;
}
ul.slideshow li.showit {
    z-index:1;    
}
footer h4 {margin: 5px 0;}
ul#links{height:20px;}
ul#links li{float:left; width: 30px;}
.box_shadow {
    -moz-box-shadow: 2px 3px 3px #999;
    -webkit-box-shadow: 2px 3px 4px #999;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999')";
    box-shadow: 2px 3px 3px #999;
}
/*.clear{ clear:both; height:0px; overflow:hidden; }*/
#flash {
    margin: 0 auto 15px;
    font-size: 16px;
    text-align: center;
    background-color: #e1ecfe;
}
.photo {
    display: inline-block;
    margin: 0 auto 20px;
}
.photo img {
    display: block;
    box-sizing: border-box;
    border: white 0.5em solid;
}
.photo .caption{
    background: white;
    text-align: center;
    font-size: .8em;
    color: #666;
    display: block;
}
#goTop {
    position: fixed;
    display: none; 
    bottom: 30px;
    right: 30px;
}
.posts_delete {
    display: inline;
}
.more_photos a {
    background: #EBEBEB;
    display: inline-block;
    padding: 3px 0;
    text-decoration: none;
    text-align: center;
    color: #666;
    width: 100%;
    -moz-transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}
.more_photos a:hover {
    background: #0181EB;
    text-shadow: none;
    color: #F8F8F8;
}
#content ul {
    margin-left: 30px;
    margin-bottom: 15px;
    list-style-type: disc;
}
img.right {
    margin-bottom: .8em;
    float: right;
    margin-left: 1em;
}
img.left {
    margin-bottom: .8em;
    float: left;
    margin-right: 1em;
}
#content img {
    max-width: 100%;
    moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    -khtml-border-radius: 0.3em;
    border-radius: 0.3em;
    -moz-box-shadow: rgba(0,0,0,0.15) 0 1px 4px;
    -webkit-box-shadow: rgba(0,0,0,0.15) 0 1px 4px;
    -o-box-shadow: rgba(0,0,0,0.15) 0 1px 4px;
    box-shadow: rgba(0,0,0,0.15) 0 1px 4px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: white 0.5em solid;
}
.tags {
    text-align: right;
}
#tagcloud li {
    padding-right: 15px;
    display: inline;
}
