<!DOCTYPE html> 
<html lang="en">
    <head> 
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="Eric Lo's page"> 
        <meta name="author" content="Eric Lo">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
        <link rel="apple-touch-icon" href="{{request.static_url('lxneng:static/images/icons/apple-touch-icon_72x72.png')}}" />
        <title>{% block title %}{{gettext('All Photos')}}{% endblock %} — {% trans %}Hi, I'm Eric Lo.{% endtrans %}</title> 
        <link rel="stylesheet" href="{{request.static_url('lxneng:static/css/style.css')}}?v={{v}}">
        <link href="{{request.route_url('posts_rss')}}" rel="alternate" title="Recent Posts" type="application/atom+xml">
    </head> 
    <body>
        <canvas class='blur' src="{{request.static_url('lxneng:static/images/bg.jpg')}}"></canvas>
        <header>
        <ul class="nav">
            <li><a href="{{request.application_url}}" class="{{'active' if request.path=='/' else ''}}" title="Home" id="Home">{{gettext('Home')}}</a></li>
            <li><a href="{{request.route_url('posts_index')}}"
                class="{{'active' if request.path.startswith('/posts') else ''}}" title="Blog" id="Blog">{{gettext('Blog')}}</a>
            <div class="submenu">
                <ul>
                    <li><a href="{{request.route_url('posts_tags_index')}}">{{gettext('Tags')}}</a></li>
                    <li><a href="{{request.route_url('posts_rss')}}">RSS</a></li>
                </ul>
            </div>
            </li>
            <li><a href="{{request.route_url('photos')}}" class="{{'active' if request.path.startswith('/photos') else ''}}" title="Photo" id="Photo">{{gettext('Photo')}}</a>
            	<div class="submenu">
	                <ul>
	                    <li><a href="{{request.route_url('all_photos')}}">{{gettext('All Photos')}}</a></li>
	                </ul>
	            </div>
            </li>
            <li><a href="{{request.route_url('about')}}" class="{{'active' if request.path=='/about' else ''}}" title="About" id="About">{{gettext('About')}}</a></li>
        </ul>
        <ul class="nav nav-right">
            <li>
            {% if request.locale_name=='en' %}
            <a href="?lang=zh_CN">中文</a>
            {% else %}
            <a href="?lang=en">English</a>
            {% endif %}
            </li>
        </ul>
        </header>
        <div id="all_photos">
            <section class="grid">
            {% for photo in photos %}
            <article id="article-{{photo.id}}" class="articles">
            <div class="overlay">
                <div class="content">
                    <div class="heading-container">
                        <div class="categories">
                            <a href="{{req.route_url('photos_album', id=photo.album.id)}}">{{photo.album.title}}</a>
                        </div>
                        <h3><a href="{{req.route_url('photos_album', id=photo.album.id)}}">{{photo.description}}</a></h3>
                        <div class="timestamp">{{tools.format_date(photo.created_at)}}</div>
                    </div>
                </div>
            </div>
            <div class="media">
                <img src="{{ req.static_url(photo.filesystem_path) }}!320px" width="320" height="auto" alt="" />
            </div>
            </article>
            {% endfor %}
            <div id="pagination">
                <a href="{{req.route_url('all_photos_pagination', page=next)}}" class="next">Next Page &#8594;</a>
            </div>
            <section>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
        <script src="{{request.static_url('lxneng:static/js/jquery.unveil.min.js')}}?v={{v}}" type="text/javascript"></script>
        <script src="{{request.static_url('lxneng:static/js/main.js')}}?v={{v}}" type="text/javascript"></script>
        <script>window.jQuery || document.write('<script src="{{request.static_url('lxneng:static/js/jquery-1.8.1.min.js')}}"><\/script>')</script>
        <script src="{{request.static_url('lxneng:static/js/jquery.masonry.min.js')}}" type="text/javascript"></script>
        <script src="{{request.static_url('lxneng:static/js/jquery.infinitescroll.min.js')}}" type="text/javascript"></script>
		<script src="{{request.static_url('lxneng:static/js/all_photos.js')}}?v={{v}}" type="text/javascript"></script>
		<script>
		    var _gaq=[['_setAccount','UA-15032003-1'],['_trackPageview'],['_trackPageLoadTime']];
		    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		        s.parentNode.insertBefore(g,s)}(document,'script'));
		</script>
        </body>
    </html>
