{% extends "base.html" %}
{% block title %}{{gettext('Photo')}}{% endblock %}
{% block body %}
<article>
{% for album in albums %}
<h1><a href="{{request.route_url('photos_album', id=album.id)}}">{{album.title}}</a></h1>
{% for photo in album.photos.limit(3) %}
    <div class="shadow photo">
        <a href="{{request.route_url('photos_album', id=photo.album.id)}}">
            <img src="{{ req.static_url(photo.filesystem_path) }}!640px" />
        </a>
        <span class="caption">{{photo.description}}</span>
    </div>
{% endfor %}
<div class="more_photos">
<a href="{{request.route_url('photos_album', id=album.id)}}">{{gettext('More Photos')}} →</a>
</div>
{% endfor %}
</article>
{% endblock %}
