{% extends "base.html" %}
{% block title %}{{context.title}}{% endblock %}
{% block body %}
<article>
<h1>{{context.title}}</h1>
<strong>{{tools.format_date(context.created_at)}}</strong>
<div id='content'>
<p>{{tools.markdown_content(context.content)|safe}}</p>
</div>
<p class="tags">This entry was tagged
    {% for tag in context.tags|sort(case_sensitive=true) %}
      {%- if not loop.first and not loop.last %}, {% endif -%}
      {%- if loop.last and not loop.first %} and {% endif %}
      <a href="{{ request.route_url('posts_tags_show', name=tag.name) }}">{{ tag.name }}</a>
    {%- endfor %}
</p>
{% if user %}
<p>
<a href="{{ request.route_url('posts_edit', id=context.id) }}">Edit</a>
</p>
{% endif %}
<p>
{% if prev %}<a class="fleft" href="{{ request.route_url('posts_show', id=prev.id) }}">« {{gettext('Previous')}}</a>{% endif %}
{% if next %}<a class="fright" href="{{ request.route_url('posts_show', id=next.id) }}">{{gettext('Next')}} »</a>{% endif %}
</p>

</article>
{% endblock %}

{% block javascript %}
<link rel="stylesheet" href="{{request.static_url('lxneng:static/css/syntax.css')}}">
{% endblock %}
